body{
	font-family: 'Quicksand', sans-serif;
}

h1{
	color: white;
	font-size: 50px;
}

.tagline{
	padding-top: 30%;
    text-align: right;
}

.main {
    background-image: url("../img/ABOUT-02.jpg");
    position: relative;
    width: 100%;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#about_content {
    color: white; 
    text-align: right; 
    padding-top: 20px; 
    font-size: 30px;
}

.our_story {
    background-image: url("../img/story-02.jpg");
    position: relative;
    width: 100%;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.aligner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mission{
	padding-left: 30px;
	color: black;
}

.bg{
	background-color: white;
	padding-top: 50px;
	padding-bottom: 50px;
}


/*.img-responsive {
    width: 100%;
    height: 600px;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
}*/

/*#testimonial{
	background-image: url("../img/Testimonial_bg.jpg");
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 600px;
}
*/
.mySlides{
	display: none;
}

#slideshow-container{
	padding-left: 20px;
    padding-right: 20px;
    padding-top: 120px;
    padding-bottom: 120px;
}

.column-aligner{
    text-align: left;
	padding: 20px;
}

.value_num {
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
}

.value_c {
    padding-left: 4%;
    font-size: 20px;
    cursor: pointer;
}

.v_subhead {
    font-size: 15px;
}

@media(min-width: 990px) {
    #our_story2 {
        display: none;
    }
    .tagline {
        text-align: center;
    }

}

@media(max-width: 560px) {
    #story_content{
        width: auto;
        padding-left: 20px;
        padding-top: 60px;
    }
}

@media(min-width: 561px) {
    #story_content{
        width: 500px;
        padding-left: 100px;
        padding-top: 80px;
    }
}


